POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=xephon_admin
POSTGRES_USER=xephon_admin
POSTGRES_PASSWORD=change-me

CORS_ORIGINS=http://localhost:5177

KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=xephon
KEYCLOAK_CLIENT_ID=xephon-admin

KEYCLOAK_ADMIN_CLIENT_ID=xephon-admin-sa
KEYCLOAK_ADMIN_CLIENT_SECRET=change-me-admin-sa

ADMIN_ROLE=xephon:admin
